* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: fred;
    color: rgb(131, 18, 47);
    color: white;
}

.main {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body{
    background-color: rgb(255, 215, 222);
    background-color: #804040;
    padding: 2rem;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(192, 115, 128);
    color: rgb(255, 215, 222);
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out; /* Title animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.blurb {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.sub {
    font-size: 14px;
}
#difficulty{
    border: 2px solid pink;
    border-radius: 10px;
}
.search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    width: 100%; /* Full width */
    max-width: 400px; /* Max width for better appearance */
    background-color: #804040;
    background-color: rgb(255, 215, 222);
    color: brown;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}


option{
    color: brown;
}

select{
    color: brown;
}

button {
    padding: 5px;
    font-size: 18px;
    color: brown;
    background-color: rgb(255, 215, 222); 
    background-color: #f17eaa;  
    border: 2px solid brown;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color:rgb(255, 215, 222);
    border-color: #a14b6c;
    color: brown;

}

#question {
    text-wrap: wrap;
}

#completed {
    display: flex;
    align-items: center;
    gap: 20px;
}

#completed .blurb {
    max-width: 200px;
}

#get-credit-button {
    flex: 1;
    color: rgb(178, 115, 4);
    background-color: rgb(253, 244, 168);
    border: 1px solid  rgb(178, 115, 4);
    font-size: 16px;
    width: 90px;
}

#get-credit-button:hover {
    background-color: rgb(252, 238, 115);
    border-color: darkgoldenrod;
}

.sub{
    color: white;
    color: brown;
}

label{
    color: white;
    color: brown;
}

@font-face {
    font-family: fred;
    src: url(./assets/Fredoka-VariableFont_wdth\,wght.ttf);
}