#popup {
    padding: 2rem;
    /* background-image: url('https://i.pinimg.com/564x/7a/f2/ae/7af2ae04d7112d6868c0733a629ec6ef.jpg'); */
    /* background-image: radial-gradient(rgba(139, 85, 139, 0.808), rgb(221, 207, 202)); */
    background-color: rgb(255, 215, 222);
    color: rgb(131, 18, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 600px;
    border: 3px solid rgb(210, 154, 164);;

  }

#popup h2{
    /* font-family: fred; */
}
#popup .container{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    /* font-family: fred; */
}
button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    color: brown;
    font-family: fred;
    border: 2px solid rgb(210, 154, 164);;
  }

  

#popup .navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 500px;
    height: 30px;
    color:rgb(255, 215, 222);
    padding:  0px 30px;
    background-color: #804040;
  }

#popup .navbar p{
    margin-right: 20px;
    color:rgb(255, 215, 222);
    /* font-family: fred; */
  }
  
#close-popup {
    background-color: #804040;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

#close-popup:hover{
    background-color: rgb(255, 183, 195);
}

#open-code-button{
  margin: 1px;
  margin-bottom: 2%;
}

#open-code-button:hover{
  background-color: rgb(234, 169, 179);
  color: white;
}
  
@font-face {
    font-family: 'fred';
    src: url('./assets/Fredoka-VariableFont_wdth\,wght.ttf');
}

@font-face {
  font-family: fred;
  src: url(./assets/Fredoka-VariableFont_wdth\,wght.ttf);
}


#ai-response{
  padding: 1rem;
  background-color: #804040;
  color: white;
  border-radius: 10px;
}

#quote{
  margin-top: 8px;
}