body {
    padding: 2rem;
    background-color: rgb(255, 215, 222);
    color: rgb(131, 18, 47);
  }
  
.header {
    color: #947258;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(192, 115, 128);
    font-size: 35px;
    font-family: fred;
    margin-bottom: 0px;
    font-weight: 800;
  }

  h1{
    font-family: fred;
  }
  
  button {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    color: #f17eaa;
    font-family: fred;
    border: 2px solid brown;
  }
  button:hover{
    background-color: rgb(255, 183, 195);
    color: white;
  }

  button:hover {
    background-color: #f17eaa;
    color: white;
    cursor: pointer;
  }

  .navbar{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    padding:  0px 30px;
    background-color: #804040;
  }

  .navbar p{
    margin-right: 20px;
    color:rgb(255, 215, 222);
    font-family: fred;
  }
  
  .container {
    width: 180px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    font-family: fred;
  }
  
  button{
    margin-bottom: 10px;
  }
  .code-button {
    width: 150px;
    background-color: #804040;
    color: white;
  }
  
  .code-button:hover {
    background-color: rgb(255, 183, 195);
    cursor: pointer;
  }
  .test{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }

  .girl{
    width: 100px;
    margin-bottom: 5px;
  }
.id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  input{
    border-radius: 10px;
    padding: 10px;
    background-color: white;;
    border: 2px solid brown;
    width: 100%;
    margin-bottom: 10px;
    font-family: fred;
  }

  #login{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #logout{
    cursor: pointer;
  }

  #linkAccount{
    width: 150px;
  }

  @font-face {
    font-family: bubble;
    src: url(./assets/RebellionSquad-ZpprZ.ttf);
  }

  @font-face {
    font-family: bubble-block;
    src: url(./assets/ThatSoundsGreat-yYLE3.ttf);
  }

  @font-face {
    font-family: font1;
    src: url(./assets/ChoretFudyngBubbleRegular-3zYPG.ttf);
  }

  @font-face {
    font-family: font2;
    src: url(./assets/SumbinPamfao-dr3nR.otf);
  }

  @font-face {
    font-family: fred;
    src: url(./assets/Fredoka-VariableFont_wdth\,wght.ttf);
  }